#about{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #about{ 
        padding: 0 20px;
    }
}