

#banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    background-image: url(../public/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
