
#counter{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

#counter .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: space-between;
}

#counter .counter-main-title{
    font-size: 120px;
    margin:0 0 10px 0 !important;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#counter .lead-text{
    font-size: 23px;
    margin: 10px 0 !important;
}

#counter .subtitle{
    font-size: 35px;
}

.count{
    font-size: 50px;
    font-family: var(--euro-extd);
    color: #fff;
}

.sub-text{
    font-size: 30px;
    color: #ccc;
}

@media screen and (max-width: 768px){
    .counter-main-title{
        font-size: 60px !important;
    }

    #counter .lead-text{
        font-size: 18px;
    }

    #counter .subtitle{
        font-size: 27px;
    }

    #counter .box{
        grid-template-columns: 1fr;
        gap: 20px;
    }
}