
#expertise{
    width: 100%;
    display: flex;
    justify-content: center;
}

#expertise .gradient-title{
    font-size: 50px !important;
    background: linear-gradient(to left top, #11f76e, #00e5da, #00c7ff, #0094ff, #c612eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.expertise-box{
    margin: 60px 0;
}

.expertise-box .expertise-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    border-top: .2px solid var(--sub-text-color);
    border-bottom: .2px solid var(--sub-text-color);
    padding: 45px 0;
}

.expertise-box .expertise-item .title{
    font-family: var(--euro-extd);
    font-size: 50px;
    color: var(--main-text-color);
}

.expertise-box .expertise-item .content{
    color: var(--sub-text-color);
    font-size: 25px;
}


@media screen and (max-width: 900px) {
    .expertise-box .expertise-item{
        grid-template-columns:  1fr;
        padding: 25px 0;
    }
}

@media screen and (max-width: 768px) {
    #expertise .gradient-title{
        font-size: 30px !important;
    }

    .expertise-box .expertise-item .title{
        font-size: 30px;
    }
    
    .expertise-box .expertise-item .content{
        font-size: 18px;
    }
}