#faq{
    width: 100%;
    display: flex;
    justify-content: center;
}

.faq-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 80px 0;
    gap: 30px;
}

.faq-container .title{
    position: sticky;
    top: 80px;
    left: 0%;
    transition: position 0.3s ease;
    font-size: 30px !important;
    z-index: 1;
}

.faq-container .faq-box{
    width: 100%;
}

#faq .gradient-title{
    font-size: 50px !important;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faq-item{
    width: 100%;
}

.faq-question{
    width: 100%;
    color: var(--sub-text-color);
    font-size: 45px;
    transition: .5s;
    padding: 40px 20px;
    border: .5px solid var(--sub-text-color);
    position: relative;
}

.faq-answer{
    display: none;
}

.faq-question:hover{
    color: var(--main-text-color);
}

.faq-question::before{
    content: '+';
    padding-right: 10px;
}

#faq .lead-text{
    color: var(--sub-text-color);
    font-size: 20px;
    margin: 20px 0 !important;
}

.faq-item.active{
    background-color: #fff;
}

.faq-item.active .faq-question {
    color: #000 !important;
    border: none;
}

.faq-item.active .faq-answer {
    color: #111;
    border: none;
    padding: 20px;
    display: block;
}

.faq-item.active .faq-question::before{
    content: '\00d7';
    padding-right: 10px;
}

@media screen and (max-width: 900px) {
    .faq-container{
        grid-template-columns: 1fr;
    }

    #faq .gradient-title{
        font-size: 30px !important;
    }

    .faq-container .faq-box{
        width: 100%;
        min-height: auto;
        background-color: var(--bg-color);
        display: grid;
        place-items: center;
    }

    .faq-container .title{
        position: static;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 18px !important;
        margin-bottom: 20px;
    }

    .faq-question{
        font-size: 25px;
    }

    .faq-answer{
        font-size: 20px;
    }
}