#get-in-touch{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}


.get-in-touch-title{
    font-size: 150px;
    color: var(--bg-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: var(--euro-extd);
    letter-spacing: 10px;
}