@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #4360ed;
    --sb-size: 3px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;
    
}


@font-face {
    font-family: "Eurostile_Black";
    src: url("/fonts/Eurostile_Font_Family/Eurostile_Black.otf");
}

@font-face {
    font-family: "Eurostile_Bold";
    src: url("/fonts/Eurostile_Font_Family/Eurostile_Bold.otf");
}

@font-face {
    font-family: "Eurostile_Extd";
    src: url("/fonts/Eurostile_Font_Family/Eurostile_Extd_Black.otf");
}

@font-face {
    font-family: "Sofia_Pro_Black";
    src: url("/fonts/Sofia_Pro_Font_Family/Sofia_Pro_Black.otf");
}

@font-face {
    font-family: "Sofia_Pro_Bold";
    src: url("/fonts/Sofia_Pro_Font_Family/Sofia_Pro_Bold.otf");
}

@font-face {
    font-family: "Sofia_Pro_Regular";
    src: url("/fonts/Sofia_Pro_Font_Family/Sofia_Pro_Regular.otf");
}



:root{
    --primary-color : #4360ED;
    --bg-color: #16171A;
    --main-text-color: #eee;
    --sub-text-color: rgb(160, 160, 160);
    --euro-extd: 'Eurostile_Extd';
    --sofia-pro: 'Sofia_Pro_Regular';
}



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sofia_Pro_Regular', sans-serif;
}

body{
    background-color: var(--bg-color);
}

.cursor{
    width: 40px;
    height: 40px;
    background-color:  var(--primary-color);
    opacity: .7;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
}


.main-title{
    text-transform: uppercase;
    font-size: 150px;
    letter-spacing: 0px;
    color: white;
    font-weight: bolder;
    font-family: var(--euro-extd);
    background-image: url('https://freerangestock.com/sample/135550/gradient-abstract-background--blue-waves.jpg');
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s ease-in-out alternate infinite;
}

@keyframes animate
{
    from
    {
        background-position: center 40%;
    }
    to
    {
        background-position: center 80%;
    }
}

.subtitle{
    font-size: 60px;
    color: var(--main-text-color);
    font-weight: bold;
}

.primary-text-color{
    color: var(--primary-color);
}

.euro-extd{
    font-family: var(--euro-extd);
}

.section-spacing{
    padding: 60px 0;
}

.bg-primary{
    background-color: var(--bg-color);
}


.para-text{
    font-size: 27px;
    color: var(--sub-text-color);
    margin: 20px 0;
}

.lead-text{
    font-size: 35px;
    color: var(--sub-text-color);
    margin: 80px 0 0 0 ;
}


.link{
    padding: 5px;
    color: var(--main-text-color);
    position: relative;
}

.link::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    content: '';
    z-index: -1;
    transition: .5s;
    background-color: var(--sub-text-color);
}

.link:hover::before{
    height: 40%;
    background-color: var(--primary-color);
}

.gradient-title{
    font-size: 60px;
    font-weight: bolder;
    font-family: var(--euro-extd);
    background: rgb(28,161,250);
    background: linear-gradient(to left top, #11f76e, #00e5da, #00c7ff, #097bcd, #8deb12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 30px 0;
}

@media screen and (max-width: 900px){

    .main-title{
        font-size: 100px;
    }
}

@media screen and (max-width: 768px){

    .main-title{
        font-size: 70px;
    }

    .subtitle{
        font-size: 40px;
    }

    .section-spacing{
        padding: 40px 0;
    }

    .para-text{
        font-size: 20px;
    }

    .lead-text{
        font-size: 25px;
        margin: 30px 0 0 0 ;
    }
}

@media screen and (max-width: 500px){

    .main-title{
        font-size: 50px;
    }

    .subtitle{
        font-size: 30px;
    }

    .section-spacing{
        padding: 20px 0;
    }

    .para-text{
        font-size: 16px;
    }

    .lead-text{
        font-size: 25px;
        margin: 30px 0 0 0 ;
    }
}


.main-text-color{
    color: var(--main-text-color);
}

.primary-btn {
    --border-color: linear-gradient(-45deg, #7e03aa,var(--primary-color), #ffae00);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: var(--main-text-color);
    color: var(--main-text-color);
      /* use position: relative; so that BG is only for .primary-btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  .primary-btn::after,
  .primary-btn::before {
    content: '';
    position: absolute;
    inset: 0;
  }
  
  .primary-btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
  }
  
  @keyframes move-bg7234 {
    0% {
      background-position: 31% 0%
    }
  
    50% {
      background-position: 70% 100%
    }
  
    100% {
      background-position: 31% 0%
    }
  }
  
  .primary-btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  
  .primary-btn:where(:hover, :focus)::after {
    clip-path: polygon(
                  /* Top-left */
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      
                  calc(100% - var(--border-width))
  
                  var(--border-width),
      
                  /* top-right */
                  calc(100% - var(--border-width))
  
                   var(--border-width),
      
                  calc(100% - var(--border-width)) 
  
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
      
                  /* bottom-right 1 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                  calc(100% - var(--border-width)),
  
                  /* bottom-right 2 */
                  calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                  calc(100% - var(--border-width)));
    transition: 200ms;
  }
  
  .primary-btn:where(:hover, :focus) {
    color: #fff;
  }


  /* navbar */

  nav{
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-bg{
    background: rgba(47, 50, 65, 0.50) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(7.6px) !important;
    -webkit-backdrop-filter: blur(7.6px) !important;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.nav-brand{
    width: auto;
}

.navbar ul li{
    display: inline;
}

.navbar ul li a{
    padding: 5px 20px;
    color: var(--main-text-color);
    position: relative;
    margin: 0 10px;
}

.navbar ul li a::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    content: '';
    z-index: -1;
    transition: .5s;
    background-color: var(--primary-color);
}

.navbar ul li a:hover::before{
    height: 40%;
}

.toggle-btn{
    display: none;
}

@media screen and (max-width: 768px){

    /* .navbar {
        flex-direction: column;
    } */

    /* .nav-brand{
        width: 100%;
    } */

    /* .navbar ul{
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        min-height: 100vh;
        background-color: transparent;
        z-index: 10;
        transition: .5s;
        color: aliceblue;
    }

    .navbar ul li{
        display: block;
        padding: 40px 10px;
        text-align: center;
    } */

    .navbar ul li a{
        font-size: 25px;
    }

    /* .toggle-btn{
        display: block;
    } */

}


  /* banner */



#banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    background-image: url(../public/images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

  
/* counter */


#counter{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

#counter .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    row-gap: 60px;
    justify-content: space-between;
}

#counter .counter-main-title{
    font-size: 120px;
    margin:0 0 10px 0 !important;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#counter .lead-text{
    font-size: 23px;
    margin: 10px 0 !important;
}

#counter .subtitle{
    font-size: 35px;
}

.count{
    font-size: 50px;
    font-family: var(--euro-extd);
    color: #fff;
}

.sub-text{
    font-size: 30px;
    color: #ccc;
}

@media screen and (max-width: 900px){
    .counter-main-title{
        font-size: 60px !important;
        text-align: center;
    }

    #counter .lead-text{
        font-size: 18px;
        text-align: center;
    }

    #counter .subtitle{
        font-size: 27px;
        text-align: center;
    }

    #counter .box{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .count{
        font-size: 30px;
        font-family: var(--euro-extd);
        color: #fff;
    }
    
    .sub-text{
        font-size: 18px;
        color: #ccc;
    }
}

/* expertise */


#expertise{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}


#expertise .gradient-title{
    font-size: 60px !important;
    background: linear-gradient(to left top, #11f76e, #00e5da, #00c7ff, #0094ff, #c612eb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.expertise-box{
    margin: 60px 0;
}

.expertise-box .expertise-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    border-top: .2px solid var(--sub-text-color);
    border-bottom: .2px solid var(--sub-text-color);
    padding: 45px 0;
}

.expertise-box .expertise-item .title{
    font-family: var(--euro-extd);
    font-size: 50px;
    color: var(--main-text-color);
}

.expertise-box .expertise-item .content{
    color: var(--sub-text-color);
    font-size: 25px;
}


@media screen and (max-width: 900px) {
    .expertise-box .expertise-item{
        grid-template-columns:  1fr;
        padding: 25px 0;
    }
}

@media screen and (max-width: 768px) {
    #expertise .gradient-title{
        font-size: 40px !important;
    }

    .expertise-box .expertise-item .title{
        font-size: 30px;
    }
    
    .expertise-box .expertise-item .content{
        font-size: 18px;
    }
}


/* faq */

#faq{
    width: 100%;
    display: flex;
    justify-content: center;
}

.faq-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 80px 0;
    gap: 30px;
}

.faq-container .title{
    position: sticky;
    top: 80px;
    left: 0%;
    transition: position 0.3s ease;
    font-size: 30px !important;
    z-index: 1;
}

.faq-container .faq-box{
    width: 100%;
}

#faq .gradient-title{
    font-size: 60px !important;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.faq-item{
    width: 100%;
    transition: .5s;
}

.faq-question{
    width: 100%;
    color: var(--sub-text-color);
    font-size: 45px;
    transition: .5s;
    padding: 40px 20px;
    border: .5px solid var(--sub-text-color);
    position: relative;
    transition: .5s;
}
.faq-question:hover{
    color: var(--main-text-color);
}

.faq-question::before{
    content: '+';
    padding-right: 10px;
}

#faq .lead-text{
    color: var(--sub-text-color);
    font-size: 20px;
    margin: 20px 0 !important;
}

.faq-item.active{
    background-color: #fff;
    transition: .5s;
}

.faq-item.active .faq-question {
    color: #000 !important;
    border: none;
    transition: .5s;
}

.faq-item.active .faq-answer {
    color: #111;
    border: none;
    padding: 20px;
}

.faq-item.active .faq-question::before{
    content: '\00d7';
    padding-right: 10px;
}

@media screen and (max-width: 970px) {
    .faq-container{
        grid-template-columns: 1fr;
    }

    #faq .gradient-title{
        font-size: 40px !important;
    }

    .faq-container .faq-box{
        width: 100%;
        min-height: auto;
        background-color: var(--bg-color);
        display: grid;
        place-items: center;
    }

    .faq-container .title{
        position: static;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 18px !important;
        margin-bottom: 20px;
    }

    .faq-question{
        font-size: 25px;
    }

    .faq-answer{
        font-size: 20px;
    }
}


/* get in touch */

#get-in-touch{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}


.get-in-touch-title{
    font-size: 150px;
    color: var(--bg-color);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-family: var(--euro-extd);
    letter-spacing: 10px;
    transition: .5s;
}

.get-in-touch-title:hover{
    color: var(--main-text-color);
}

.get-start-btn{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    width: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: var(--euro-extd);
    font-size: 30px;
}


.parallax {
    overflow: hidden;
    letter-spacing: 10px;
    line-height: 1.2;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax .scroller {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 64px;
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax span {
    display: block;
    margin-right: 30px;
  }
  

/* learn */



#learn .gradient-title{
    font-size: 60px !important;
    background: linear-gradient(to left top, #f7a311, #e5d600, #c3ff00, rgb(7, 184, 28), #12eb33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.learn-layout{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .learn-layout{
        grid-template-columns: 1fr;
    }

    #learn .gradient-title{
        font-size: 40px !important;
    }


    .get-in-touch-title{
        font-size: 100px;
    }
}

.course-card{
    width: 100%;
    height: 380px;
    overflow: hidden;
    border: 20px;
    padding: 0;
    background: rgba(47, 50, 65, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(47, 50, 65, 0.50);
    position: relative;
}

.course-card::before{
    height: 55%;
    width: 0%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #ffffff2b;
    transition: .5s;
}

.course-card:hover::before{
    height: 55%;
    width: 100%;
}

.course-card .content{
    width: 100%;
    padding: 20px;
}

.course-card .content h3{
    font-size: 20px;
    font-weight: bolder;
    font-family: var(--euro-extd);
    color: var(--main-text-color);
}

.course-card .content h4{
    font-size: 16px;
    color: var(--sub-text-color);
}


.gradient-1{
    border-radius: 50%;
    background: var(--primary-color, radial-gradient(40.45% 40.45% at 50% 46.16%, rgba(1, 9, 80, 0.90) 3.13%, rgba(14, 17, 32, 0.00) 100%));
    filter: blur(12px);
    width: 100px;
    height: 100px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    z-index: -1;
}

.gradient-2{
    border-radius: 50%;
    background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    filter: blur(12px);
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: -1;
}


/* project */

#project{
    width: 100%;
    display: flex;
    justify-content: center;
}

.project{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 80px 0;
}

.project .title{
    position: sticky;
    top: 80px;
    left: 0%;
    transition: position 0.3s ease;
    font-size: 30px !important;
    z-index: 1;
}

.project .img-container{
    width: 100%;
    min-height: 80vh;
    display: grid;
    place-items: center;
}

.img-container.box-1{
    background-color: #fff;
}

.img-container.box-2{
    background-color: #fff;
}

.project .img-container img{
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .project{
        grid-template-columns: 1fr;
        /* padding: 10px; */
    }

    .project .img-container{
        width: 100%;
        min-height: auto;
        background-color: var(--bg-color);
        display: grid;
        place-items: center;
    }

    .project .title{
        position: static;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 25px !important;
        margin-bottom: 20px;
    }

    .gradient-title{
        text-align: center;
        font-size: 40px;
    }
}


/* about */


@media screen and (max-width: 768px) {
    #about{ 
        padding: 0 20px;
    }
}


/* process */

    #process{
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
    }

    .process-number h1{
        /* font-size: 25px; */
        font-family: var(--euro-extd);
        color: var(--main-text-color);
    }

    .process-box li.active .process-number h1{
        color: var(--bg-color);
    }
  
  .process-box {
    display: flex;
    min-height: 70vh;
    max-height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
  }
  
  .process-box li {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: var(--bg-color);
    border: .5px solid var(--sub-text-color);
    cursor: pointer;
    transition: all 0.5s ease;
  }

  .process-box li.active {
    flex: 5;
    background: var(--main-text-color);
    cursor: default;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .process-box li.active h2 {
    color: var(--bg-color);
  }
  .process-box li.active .process-content {
    flex: 4;
    opacity: 1;
    display: block;
    transform: scaleX(1);
    color: var(--bg-color);
  }
  .process-box li .process-title {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--main-text-color);
  }
  .process-box li.active .process-title h2 {
    color: var(--bg-color);
  }
  
  .process-box li .process-title h2 {
    margin: 0 !important;
    padding: 0 !important;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 25px;
    font-family: var(--euro-extd);
    text-align: center;
    /* text-transform: uppercase; */
    color: var(--main-text-color);
  }

  .process-box li.active .process-title h2 {
    transform: rotate(0deg);
    font-size: 25px;
    font-family: var(--euro-extd);
    /* text-transform: uppercase; */
  }
  .process-box li .process-content {
    flex: 1;
    display: flex;
    /* align-items: center; */
    margin: 0;
    padding: 0;
    opacity: 0;
    display: none;
    transition: all 0.25s 0.1s ease-out;
  }

  @media screen and (max-width: 1100px) {
    .process-box {
        display: flex;
        flex-direction: column;
      }

      .process-box li .process-title h2 {
        transform: rotate(0deg);
        text-align: center;
      }

      .process-number h1{
        font-family: var(--euro-extd);
        color: var(--main-text-color);
        margin: 9px 20px 0 0;
    }
  }


  /* testimonial */

  #testimonial .gradient-title{
    background: linear-gradient(254deg,rgb(238, 85, 34) 5%,rgb(250, 202, 28) 55%, rgb(144, 230, 5) 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .testimonial-card-bg{
    background: rgba(47, 50, 65, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(47, 50, 65, 0.50);
  }

  .slick-prev::before, .slick-next::before{
    font-size: 35px !important;
    }

    .slick-prev{
        left: 10px !important;
    }
    
    .slick-next{
        left: 50px !important;
    }

    .slick-prev, .slick-next{
        top: -10px !important;
        z-index: 3;
    }



    /* partner */

    #partner .gradient-title{
        font-size: 60px;
        font-weight: bolder;
        font-family: var(--euro-extd);
        background: rgb(28,161,250);
        background: linear-gradient(to left top, #f71169, #3900e5, #00c7ff, #097bcd, #ebd512);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 30px 0;
    }

    .modalDialog{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: #000000b0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modalStyle{
        width: 60%;
        min-height: 200px;
        background-color: #000;
        box-shadow: 0px 0px 200px 0px rgba(125, 129, 255, 0.2);;
        border-radius: 10px;
        padding: 30px;
    }

    @media screen and (max-width: 768px) {
        .modalStyle{
            width: 90%;
        }
    }