nav{
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: auto;
}

.nav-brand{
    width: auto;
}

.navbar ul li{
    display: inline;
}

.navbar ul li a{
    padding: 5px 20px;
    color: var(--main-text-color);
    position: relative;
    margin: 0 10px;
}

.navbar ul li a::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    content: '';
    z-index: -1;
    transition: .5s;
    background-color: var(--primary-color);
}

.navbar ul li a:hover::before{
    height: 40%;
}

.nav-active{
    left: 0 !important;
    background-color: var(--bg-color) !important;
}

.toggle-btn{
    display: none;
}

@media screen and (max-width: 768px){

    .navbar {
        flex-direction: column;
    }

    .nav-brand{
        width: 100%;
    }

    .navbar ul{
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        min-height: 100%;
        background-color: transparent;
        z-index: 10;
        transition: .5s;
        color: aliceblue;
    }

    .navbar ul li{
        display: block;
        padding: 40px 10px;
        text-align: center;
    }

    .navbar ul li a{
        font-size: 25px;
    }

    .toggle-btn{
        display: block;
    }

}